*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: white;
    padding: 5rem;

    p{
        color: #7e7e7e ;
    }
}

.flex-row{
    display: flex;
    direction: row;
    align-items: center;
}
.space-between{
    justify-content: space-between;
}


header{
    margin-bottom: 4rem;

    .header_container{
        display: flex;
        justify-content: space-between;


.left{

    .left_container{
        display: flex;
        width: 30rem;

        a{
                margin-right: 1rem;
            }

        .left_text{
            margin-bottom: 4rem;
        h1{
            font-size: 1rem;
            color: #6d6d6d;
            margin-bottom: .5rem;
        }
        .address{
            color: #7e7e7e;
            line-height: 1.4;
            font-size: 1rem;
            width: 70%;
            margin-bottom: .2rem;
        }
        .tel{
            color: #7e7e7e;
            font-size: 1rem;
            margin-bottom: .2rem;
        }

        .web{
            color: #7e7e7e;
            font-size: 1rem;
        }
    
    }
    }

    .user_details{

        .invoice{
            margin-bottom: 1rem;
        }

        .ade{
            color: #00c3ff !important;
        }

        p{
            line-height: 2;
        }
    }

}

.right{
    text-align: right;

    .invoice{
        margin-bottom: 6rem;
        h1{
            font-size: 2rem;
            font-weight: 300;
        }
    }

    .balance_container{
        margin-bottom: 3rem;

        .balance{
            font-size: .8rem;
        }
        .amount{
            font-size: 1rem;
        }
    }
    .date{
        line-height: 2;
}
}
        }
}

.invoice_table{
    width: 100%;
    margin-bottom: 4rem;
    
    .container{
        display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    overflow-x: scroll;
    max-width: 100%;

        table{
        display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;

    thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;

        tr{
            display: table-row;
    vertical-align: inherit;
    border-color: inherit;
        }
        th{
            vertical-align: top !important;
            vertical-align: bottom;
    border-bottom: 2px solid #e3ebf3;
    border-top: 1px solid #e3ebf3;
    padding: 1.5rem;
    color: #7e7e7e;

    
        }
    }

    tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;

        th{
            border-bottom: 1px solid #e3ebf3;
        }

        td {
            padding: 0.75rem 2rem;
            border-bottom: 1px solid #e3ebf3;
            text-align: center;
            color: #7e7e7e;

            .text-right {
                text-align: right !important;
            }

            .water{
                margin-top: 0;
    margin-bottom: 1rem;
            }
        }
    }
        }
    }
}

.invoice_breakdown{
    margin-bottom: 5rem;

    .container{
        display: flex;

        .left{
            width: 50%;

            h1{
                font-size: 1.3rem;
                color: #6d6d6d;
                font-weight: 500;
                margin-bottom: 2rem;
            }

            .account{
                line-height: 2;
                margin-bottom: 5rem;
            }

            h2{
                margin-top: 1rem;
                font-size: 1rem;
                color: #6d6d6d;
                font-weight: 500;
            }
        }

        .right{
            width: 50%;

            h1{
                font-size: 1.3rem;
                color: #6d6d6d;
                font-weight: 500;
                margin-bottom: 2rem;
                border-bottom: 1.2px solid #6d6d6d;
                padding: 0 0 2rem 0;
                width: 80%;
            }

            .table {
                width: 100%;
                max-width: 100%;
                margin-bottom: 1rem;
                background-color: transparent;

                tbody {
                    display: table-row-group;
                    vertical-align: middle;
                    border-color: inherit;

                    tr {
                        display: table-row;
                        vertical-align: inherit;
                        border-color: inherit;

                         td {
                            padding: 0.75rem 0;
                        }
                        
                        .payment{
                            color: #cf0606;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

}

.receipt{
width: 90%;
    .container{

        .top{

            h1{
                font-size: 1.3rem;
                color: #6d6d6d;
                font-weight: 500;
                margin-bottom: 2rem;
            }

            .right{
                width: 4rem;
                align-items: center;
                display: flex;
                direction: row;
                height: 3rem;

            }
        }

        .bottom{
            color: white;
            width: 100%;

            table{
                width: 100%;
            }

            thead {
                display: table-header-group;
                vertical-align: middle;
                border-color: inherit;

                tr {
                    display: table-row;
                    vertical-align: inherit;
                    border-color: inherit;

                     th {
                        color: #F9FAFD;
                        background-color: black;
                        border-color: #3c4244;
                        padding: 0.75rem 2rem;
                        display: table-cell;
                    }
                }
            }
        }
    }
}