* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: white;
  padding: 5rem;
}

body p {
  color: #7e7e7e;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  margin-bottom: 4rem;
}

header .header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header_container .left .left_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30rem;
}

header .header_container .left .left_container a {
  margin-right: 1rem;
}

header .header_container .left .left_container .left_text {
  margin-bottom: 4rem;
}

header .header_container .left .left_container .left_text h1 {
  font-size: 1rem;
  color: #6d6d6d;
  margin-bottom: .5rem;
}

header .header_container .left .left_container .left_text .address {
  color: #7e7e7e;
  line-height: 1.4;
  font-size: 1rem;
  width: 70%;
  margin-bottom: .2rem;
}

header .header_container .left .left_container .left_text .tel {
  color: #7e7e7e;
  font-size: 1rem;
  margin-bottom: .2rem;
}

header .header_container .left .left_container .left_text .web {
  color: #7e7e7e;
  font-size: 1rem;
}

header .header_container .left .user_details .invoice {
  margin-bottom: 1rem;
}

header .header_container .left .user_details .ade {
  color: #00c3ff !important;
}

header .header_container .left .user_details p {
  line-height: 2;
}

header .header_container .right {
  text-align: right;
}

header .header_container .right .invoice {
  margin-bottom: 6rem;
}

header .header_container .right .invoice h1 {
  font-size: 2rem;
  font-weight: 300;
}

header .header_container .right .balance_container {
  margin-bottom: 3rem;
}

header .header_container .right .balance_container .balance {
  font-size: .8rem;
}

header .header_container .right .balance_container .amount {
  font-size: 1rem;
}

header .header_container .right .date {
  line-height: 2;
}

.invoice_table {
  width: 100%;
  margin-bottom: 4rem;
}

.invoice_table .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  overflow-x: scroll;
  max-width: 100%;
}

.invoice_table .container table {
  display: table;
  border-collapse: separate;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.invoice_table .container table thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.invoice_table .container table thead tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.invoice_table .container table thead th {
  vertical-align: top !important;
  vertical-align: bottom;
  border-bottom: 2px solid #e3ebf3;
  border-top: 1px solid #e3ebf3;
  padding: 1.5rem;
  color: #7e7e7e;
}

.invoice_table .container table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.invoice_table .container table tbody th {
  border-bottom: 1px solid #e3ebf3;
}

.invoice_table .container table tbody td {
  padding: 0.75rem 2rem;
  border-bottom: 1px solid #e3ebf3;
  text-align: center;
  color: #7e7e7e;
}

.invoice_table .container table tbody td .text-right {
  text-align: right !important;
}

.invoice_table .container table tbody td .water {
  margin-top: 0;
  margin-bottom: 1rem;
}

.invoice_breakdown {
  margin-bottom: 5rem;
}

.invoice_breakdown .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.invoice_breakdown .container .left {
  width: 50%;
}

.invoice_breakdown .container .left h1 {
  font-size: 1.3rem;
  color: #6d6d6d;
  font-weight: 500;
  margin-bottom: 2rem;
}

.invoice_breakdown .container .left .account {
  line-height: 2;
  margin-bottom: 5rem;
}

.invoice_breakdown .container .left h2 {
  margin-top: 1rem;
  font-size: 1rem;
  color: #6d6d6d;
  font-weight: 500;
}

.invoice_breakdown .container .right {
  width: 50%;
}

.invoice_breakdown .container .right h1 {
  font-size: 1.3rem;
  color: #6d6d6d;
  font-weight: 500;
  margin-bottom: 2rem;
  border-bottom: 1.2px solid #6d6d6d;
  padding: 0 0 2rem 0;
  width: 80%;
}

.invoice_breakdown .container .right .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.invoice_breakdown .container .right .table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.invoice_breakdown .container .right .table tbody tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.invoice_breakdown .container .right .table tbody tr td {
  padding: 0.75rem 0;
}

.invoice_breakdown .container .right .table tbody tr .payment {
  color: #cf0606;
  font-weight: 500;
}

.receipt {
  width: 90%;
}

.receipt .container .top h1 {
  font-size: 1.3rem;
  color: #6d6d6d;
  font-weight: 500;
  margin-bottom: 2rem;
}

.receipt .container .top .right {
  width: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: row;
  height: 3rem;
}

.receipt .container .bottom {
  color: white;
  width: 100%;
}

.receipt .container .bottom table {
  width: 100%;
}

.receipt .container .bottom thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.receipt .container .bottom thead tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.receipt .container .bottom thead tr th {
  color: #F9FAFD;
  background-color: black;
  border-color: #3c4244;
  padding: 0.75rem 2rem;
  display: table-cell;
}
/*# sourceMappingURL=main.css.map */